@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --primary-color:#fb923c;
    --dark-gray: #737373;
    --off-white:#cbd5e1;
}
body{
    font-family: 'Montserrat', 
    sans-serif;
}

.nav-bar{
    background-color: #fb923c;
    height: 5rem;
    text-align: center;
    
    
}
.txtarea{
    display: block;
    width: 40%;
    height: 5cm;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    margin-top: 1%;
}
.btn{
    top: 50%;
    left: 50%;
    display: block;
    margin: auto;
    background-color: rgb(136, 255, 0);
    width: 20%;
    
}
.div{
    font-size: larger;
    margin-right: 50%;
}

.footer{
    background-color: #fb923c;
    height: 3rem;
    text-align: center;

}
    


